.register-page {
    background-color: #428bca; /* Change to your desired color */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }